
.title--list
  font-size: 30px
  font-weight: 100
  color: #FFFFFF
  list-style: none
  border-left: 1px solid #FFFFFF
  text-transform: lowercase
  padding-left: 15px
  margin: auto 0
  width: auto
.title--hardware_cosmetology
  width: 50%
  text-align: start
