.header
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #4B4946
  z-index: 1
  max-height: 160px
  height: 100%
.header__wrapper
  display: flex
  justify-content: space-between
  align-items: center
.header__social
  display: flex
.header__link
  margin: 0 10px
.header__address
  color: #ffffff
  font-size: 20px
  font-weight: 300
.header__nav
  display: flex
  justify-content: space-around
  font-size: 20px
  font-weight: 400
.header__nav__link
  text-decoration: none
  color: #4B4946
  text-transform: uppercase
