@import "normalize"
.section
  padding: 35px
.section--first
  margin-top: 170px
.container
  max-width: 1280px
  width: 100%
  margin: 0 auto
.button
  display: block
  padding: 18px 50px
  font-size: 20px
  background: #F27E00
  color: #FFFFFF
  border: none
  border-radius: 10px
  cursor: pointer
@import "header"
@import "footer"
@import "massage"
@import "cosmetology"
@import "hardware_cosmetology"
