@import "normalize"
.section
  position: relative
  padding: 35px
.section--first
  margin-top: 205px
  padding: 35px 0
.container
  max-width: 1280px
  width: 100%
  margin: 0 auto
  padding: 0 35px
.intro__wrapper
  position: absolute
  top: 0
  bottom: 0
  display: flex
  justify-content: space-between
  align-items: flex-end
  height: 80%
.button
  display: block
  padding: 18px 50px
  font-size: 20px
  background: #F27E00
  color: #FFFFFF
  border: none
  border-radius: 10px
  cursor: pointer
@import "header"
@import "footer"
@import "massage"
@import "cosmetology"
@import "hardware_cosmetology"
@import "about"

@import "mobile"
